<!DOCTYPE html>
html(lang="en")
    include ./head.pug
    body
        include ./header.pug 

        include ./post_issue.pug
        h3= project.name
        p= project.description
        ul
            each val in project.issues
                li
                    <b> #{val.issue_title} </b>
                    p= val.issue_text
                    p= val._id

                    form(method="post" action=`/projects/:${project.name}?_method=DELETE`, )
                        input(type="hidden", name="id" value=`${val._id}`)
                        button(type="submit") Delete